.wrapper_with_padding
	- unless @notes.blank?
		- @notes.each do |note|
			%a{ href: (url_for [note])}
				%p.title= note.title
	- else
		%h2 Add a note
		%p It looks like you haven't created any notes yet.... Lets fix that. Why don't you create a new note below.
		%button= link_to "New Note", new_note_path